.homepage_descdiv{
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.homepage_descdiv:nth-child(3){
    position: absolute;
    left: 10%;
    margin-right: auto;
}

.About{
    background-color: #EB9691;
    width: 100%;
    height: 30%;
    padding-top: -100px;
    margin-bottom: 10%;
}

.homepage_desc{
    background-color: rgb(19, 20, 20);
    color: rgb(177, 128, 80);
    margin-left: auto;
    margin-right: auto;
    width: 40% ;
    margin-bottom: 4%;
    box-shadow: 20px 20px 10px rgb(101, 95, 95);
    overflow: hidden;
}
.homepage_desc>p{
    font-size: 2rem;
}

@media screen and (max-width:960px){
    .homepage_descdiv{
        flex-direction: column;
    }

    .homepage_desc{
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }
}