

.homepage{
    /* background-image: linear-gradient(to right ,rgb(179, 171, 171),rgba(81, 140, 33, 0.517)); */
    width: 100vw;
    height: 100%;
    color: black;
    /* background-color:olivedrab ; */
   
}
.btn{
margin-left: 80%;
border-radius: 30px;
position: absolute;
    width: 10%;
    height: 10vh;
    background: orange;
    animation: blink-animation 2s steps(3, start) infinite;
    -webkit-animation: blink-animation 2s steps(3, start) infinite;
}
.btn2{
    margin-left: 40%;
    border-radius: 30px;
    position: absolute;
        width: 10%;
        height: 10vh;
        background: orange;
        animation: blin-animation 2s steps(5, start) infinite;
        -webkit-animation: blin-animation 1s steps(5, start) infinite;
    }

  
  @keyframes blink-animation {
    0% {
      background: orange;
    }
    50% {
        background: rgb(213, 201, 201);
        }
  }

  
  @keyframes blin-animation {
    0% {
      background: orange;
    }
    50% {
        background: black;
        }
  }



.btn:hover{
    background: #fff;
    color: orange;
    border: none;
    
}

@-webkit-keyframes pulsate{
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }

}

.Home_carousal{
    margin-top: -450px;
    position: relative;
    z-index: 40;
    width: 100%;
    box-shadow: 20px 20px 10px rgb(101, 95, 95);
}
.homepage_redir{
    width: 6rem;
    height: 6rem;
    background-color: darkcyan;
    position: absolute;
    right: 4%;
}

.curved>h1{
    margin-top: 10px;
    margin-left: 40px;
    padding: none;
}




@media screen and (max-width:1340px) and (min-width:960px) {
 
.Home_carousal{
   width: 60%;
   margin: auto;
   margin-top: 50%;
   margin-top: -100px;
}

}
 

@media screen and (max-width:960px){
    .Home_carousal{
        width: 80%;
        margin: auto;
        margin-top: 0px;
     }
     .homepage_descdiv{
         flex-direction: column;
     }
     .curved{
         margin-top: -20px;
        position: relative;
        z-index: 25vh;
        height: 43vh;
        width: 100%;
        background-color: #EB9691;
        
    }
    .homepage_desc{
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }
}
